<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Noluvuyo.Bleki/IdeaProjects/assesment">
        <parameter name="ILABURL" value="https://www.ilabquality.com/"/>
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="ilab.webTest.ilabTest">
            <methods>
                <include name="ilab"/>
            </methods>
            </class>
        </classes>
    </test>

</suite>